<div class="row-fluid">
    <div class="span4 offset5">
        <span class="cart-header">Subtotal:</span> <span id="price-subtotal">${{subtotals}}</span>
    </div>
    <div class="span3">
        <a href="/review.html" class="checkout">Checkout</a>
    </div>
</div>