<div class="row-fluid cart-header">
    <div class="span5">
        {{cartSize}} Item(s) in cart
    </div>
    <div class="span3">
        <select id="cart-sort">
            <option selected="selected" value="select" disabled>Sort</option>
            <option value="price">Price</option>
            <option value="AZ">A-Z</option>
        </select>
    </div>
    <div class="span1 offset3">
        <img src="/img/global/close-panel.png"/>
    </div>
</div>

