<span class="left-float"><img src="../../img/tvFinder/WmLogo.png" id="logo"/></span>
<span id="white" class="left-float">
        <form method="get" action="/search" id="search">
            <input name="q" type="text" size="40" placeholder="Search..."/>
        </form>
    </span>
<ul>
<li><span id="create-link" class="left-float"><img src="../../img/tvFinder/create.png"/><a href="#"> Create</a></span></li>
<li><span id="sign-in" class="left-float"><img src="../../img/tvFinder/pipeSeperator.png" class="pipe"/><img
        src="../../img/tvFinder/signIn.png" id="sign-img"/><a href="#"> Sign In</a></span></li>
<li><span id="cart-items" class="left-float"><img src="../../img/tvFinder/pipeSeperator.png" class="pipe"/><img
        src="../../img/tvFinder/shoppingCart.png"/><a href="#"> Items</a></span></li>
</ul>



