<div id="review-details" class="row-fluid">
    <div class="span3">
        <p><span class="detail-labels">Payment Details</span></p>
        <p>
            <select id="payment-details-dd">
                <option selected="selected" value="select" disabled>Sort</option>
                <option value="MostHelpful">Most Helpful</option>
                <option value="Oldest">Oldest to Newest</option>
            </select>
        </p>
        <address>
            <p><span class="detail-sub-labels">Billing Address:</span><br/>
                Juliana Shimer<br/>
                555 test ave<br/>
                San Bruno, CA 94066
            </p>
        </address>
    </div>
    <div class="span3">
        <p><span class="detail-labels">Shipping&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color:#3078b9;">(Multiple Addresses?)</span></p>
        <p>
            <select id="shipping-dd">
                <option selected="selected" value="select" disabled>Sort</option>
                <option value="MostHelpful">Most Helpful</option>
                <option value="Oldest">Oldest to Newest</option>
            </select>
        </p>
        <address>
            <p><span class="detail-sub-labels">Shipping Address:</span><br/>
                Juliana Shimer<br/>
                555 test ave<br/>
                San Bruno, CA 94066
            </p>
        </address>
    </div>
    <div class="span3">
        <p><span class="detail-labels">Delivery Date</span></p>
        <p><span class="detail-labels"><b>01/01/2013</b></span></p>
        <p><span style="color:#C95925;"><b>Please Note:</b></span></p>
        <p><span style="color:#777777;font-family: 'Sintony',sans-serif;">Non-priority delivery estimates<br/>
                   can vary +/- 4 days.</span></p>
    </div>
</div>