<div id="review-breadcrumb" class="row-fluid">
    <img src="/img/cart/breadcrumbHome.png"/> <a href="/cart.html"> YOUR CART</a>  >  <a href="/review.html"> CHECKOUT</a>  >  CONFIRM YOUR ORDER
</div>
<div id="confirm-order"  class="row-fluid">
<div class="span6 confirm-order-title">
    Review Your Order: <span style="font-weight: 600;">{{forPurchaseCount}} Items  |  $1328.98 Total</span>
</div>
<div class="span2 offset1">
    <img src="/img/cart/confirmOrderBtn.png"/>
</div>
</div>