<div id="review-subtotals" class="row-fluid">
    <div class="span1 detail-labels">
        <b>Subtotals</b>
    </div>
    <div class="span2">
        <p><span class="detail-labels">Items ({{forPurchaseCount}})</span></p><br/>

        <p><span class="review-line-item-price">${{subtotal}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+</span></p>
    </div>
    <div class="span2">
        <p><span class="detail-labels">Shipping & Handling</span></p>

        <p><span class="review-line-item-price">$66&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+</span></p>
    </div>
    <div class="span2">
        <p><span class="detail-labels">Taxes</span></p><br/>

        <p><span class="review-line-item-price">$70</span></p>
    </div>
    <div class="span2 detail-labels"><br/>

        <p><b>Total</b>&nbsp;&nbsp;&nbsp;<span class="review-line-item-price">${{total}}</span></p>
    </div>
</div>
<div class="row-fluid" style="padding-top: 4%">
<div class="span2 offset7">
    <a href="#" class="confirm">Confirm Order</a>
</div>
</div>