    <div id="about" class="left-float">
        <span style="font-family: Arial,Helvetica,Sans-serif;font-size: 25px; color:#000000;">About</span>
        <p id="short-desc">
            <section>
                {{rawText shortDesc 250}}...<span style="color: #3078b9;"> Read more</span>
            </section>
        </p>
    </div>
    <div id="add-to-cart" class="left-float">
        <a href="#"><img src="img/product/qty.png"/></a>&nbsp;&nbsp;<a href="#"><img src="img/product/addToCart.png"/></a>

        <p>
            <section>
                <p><a href="#"><img src="img/product/find-icon.png"/>&nbsp;&nbsp;&nbsp;&nbsp;Find this product locally.</a></p>

                <p><a href="#"><img src="img/product/arrival-icon.png"/>&nbsp;&nbsp;Calculate arrival date.</a></p>

                <p><a href="#"><img src="img/product/share-icon.png"/>&nbsp;&nbsp;&nbsp;&nbsp;Share with a friend.</a></p>
            </section>
        </p>
    </div>
    <br class="clear" />
