<div id="header">
    <div class="row-fluid">
        <div id="cart-container" class="span12">
            <div class="span3"><img src="../../img/tvFinder/WmLogo.png" id="logo"/></div>
            <div id="white" class="span4">
                <form method="get" action="/search" id="search">
                    <input name="q" type="text" size="40" placeholder="Search..."/>
                </form>
            </div>
            <!--<div id="create-link" class="span1"><img src="/img/tvFinder/create.png"/><a href="#">-->
                <!--Create</a></div>-->

            <!--<div id="sign-in" class="span1"><img src="/img/tvFinder/signIn.png" id="sign-img"/><a href="#"> Sign In</a>-->
            <!--</div>-->

            <div id="cart-items" class="span1 offset4"><img src="/img/tvFinder/shoppingCart.png"/><a href="/cart.html">
                Items</a></div>
        </div>
    </div>
</div>