<div id="filter-matches" class="left-float">
    <div id="match-num" class="left-float"></div>
    &nbsp;Matches <span style="color:#918888; font-weight:500;">for televisions that fit that criteria.</span></div>
<div id="filter-clear">
<button type="button" name="" value="" class="css3button" id="clear-filter">Clear Filters</button>
</div>