<img class= left-float src="../../img/tvFinder/tVFinder.png" id="tv-finder-img"/>
<span id="slider-div" class="left-float">
                <div style="font-family: Arial,Helvetica,Sans-serif;font-size: 15px;">Size:</div>
                <div id="amount" style="border: 0; color: #424242; font-weight: bold;"></div>
                <div id="slider">
                    <div id="slider-range"></div>
                </div>
            </span>
<span class="tv-dropdowns left-float">
                    <div class="dropdown-labels">Type</div>
                    <div class="left-float" style="padding-right: 20px;">
                        <select id="tv-types">
                            <option selected="selected" value="select" disabled>Select</option>
                            <option value="LCD">LCD</option>
                            <option value="3D">3D</option>
                            <option value="LED">LED</option>
                            <option value="Plasma">Plasma</option>
                            <option value="Projection">Projection</option>
                            <option value="Smart">Smart</option>
                        </select>
                    </div>
            </span>
<span class="tv-dropdowns left-float">
                    <div class="dropdown-labels">Brand</div>
                    <div class="left-float" style="padding-right: 20px;">
                        <select id="tv-brand">
                            <option selected="selected" value="select" disabled>Select</option>
                            <option value="LG">LG</option>
                            <option value="Panasonic">Panasonic</option>
                            <option value="Samsung">Samsung</option>
                            <option value="Sony">Sony</option>
                            <option value="Vizio">Vizio</option>
                            <option value="Sceptre">Sceptre</option>
                            <option value="Proscan">Proscan</option>
                            <option value="Emerson">Emerson</option>
                            <option value="Philips">Philips</option>
                            <option value="RCA">RCA</option>
                        </select>
                    </div>
            </span>
<span class="tv-dropdowns left-float">
                    <div class="dropdown-labels">Sort</div>
                    <div class="left-float" style="padding-right: 20px;">
                        <select name="tv-sort" id="tv-sort">
                            <option value="LowestPrice">Lowest Price</option>
                            <option value="HighestPrice">Highest Price</option>
                            <option value="TopRated">Top Rated</option>
                            <option value="ScreenSize">Screen Size</option>
                        </select>
                    </div>
            </span>
